h2 {
    font-size: 36px;
    display:flex;
    align-items:center;
    color: #007BFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
img{
    display:inline-flex;
    flex-direction:row;
    align-content:center;
    border-radius:50%;
    border:5px solid;
}